//@import url('https://fonts.googleapis.com/css?family=Oswald:300,500,600,700 rel="stylesheet');
@use "transitions";
@use "k-anim";
// Typography
$font-family-sans-serif: 'Oswald', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


.footer-pdp {
  vertical-align: bottom;
  display: block;
  //font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #666;

  a {
    color: #666;
  }

  p {
    padding-bottom: 0;
  }
  .title-section {
    z-index: 9999;
    font-size: 4rem;
    font-weight: 200;
    color: white;
    text-shadow: 0 3px 3px black;
  }
}
